<header>
    <a href="{% url "core:home" %}">Nbnb</a>
    <a href="/admin">Nbnb - Admin</a>
    <ul>
        <li><a href="#">Login</a></li>
    </ul>
    <form method="GET" action="{% url "rooms:search" %}">
        <input name="city" placeholder="search by city name" />
    </form>
</header>