{% extends "base.html" %}

{% block page_name %}
HOME
{% endblock page_name %}

{% block content %}

<div>
    <h1>{{room.name}}</h1>
    <h3>{{room.description}}</h3>
</div>

<div>
    <h2>By : {{room.host.username}}
        {% if room.host.superhost %}
        (superhost!!!)
        {% endif %}
    </h2>
    <h3>Amenities</h3>
    <ul>
        {% for a in room.amenities.all %}
        <li>{{a}}</li>
        {% endfor %}
    </ul>
    <h3>Facilities</h3>
    <ul>
        {% for a in room.facilities.all %}
        <li>{{a}}</li>
        {% endfor %}
    </ul>
    <h3>House rulse</h3>
    <ul>
        {% for a in room.house_rulse.all %}
        <li>{{a}}</li>
        {% endfor %}
    </ul>
</div>

<div>
    <span>"아래는 내가 임의로 정한 데이터들 입니다~~~~~~~ </span>
    <h3>{{room.country}}</h3>
    <h3>{{room.city}}</h3>
    <h3>{{room.price}}</h3>
    <h3>{{room.address}}</h3>
    <h3>{{room.guests}}</h3>
    <h3>{{room.beds}}</h3>
    <h3>{{room.bedrooms}}</h3>
    <h3>{{room.baths}}</h3>
    <h3>{{room.check_in}}</h3>
    <h3>{{room.check_out}}</h3>
    <h3>{{room.instant_book}}</h3>
    <h3>{{room.host}}</h3>
    <h3>{{room.room_type}}</h3>
    <h3>{{room.amenities}}</h3>
    <h3>{{room.facilities}}</h3>
    <h3>{{room.house_rulse}}</h3>
</div>


{% endblock %}