{% extends 'base.html' %}

{% block page_name %}
Home 031)494-3994
{% endblock page_name %}


{% block content %}

{{now}}

{% for room in rooms %}
<h4>
    <a href="{% url "rooms:detail" room.pk %}">{{room.name}} / ${{room.price}}</a>
</h4>
{% endfor %}

<h5>

    {% if page_obj.has_previous %}
    <a href="?page={{page_obj.previous_page_number}}">Previous</a>
    {% endif %}

    Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}

    {% if page_obj.has_next %}
    <a href="?page={{page_obj.next_page_number}}">Next</a>
    {% endif %}

</h5>





{% endblock content %}