<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}{% endblock page_title %}&copy; Nbnb</title>
</head>

<body>
    {% include "partials/header.html" %}

    {% block content %}{% endblock content %}

    {% include "partials/footer.html" %}
</body>

</html>